<div class="off-canvas position-left medium off-canvas-filters custom-offcanvas" id="offCanvasFilters" data-off-canvas>
    <a class="btn-close close-button" data-toggle="offCanvasFilters">
        <span>apply filters / close</span>
    </a>

    <h3 class="offcanvas-heading">
        <span>Filter results</span>
    </h3>

    <div class="filters">
        {% for filter_group in filter_groups %}
            {% set filter_group_count = 0 %}
            {% for filter in filter_group.filters %}
                {% set filter_group_count = filter_group_count + filter.product_count %}
            {% endfor %}
            <div class="filter-group{{ filter_group_count ? '' : ' hide' }}">
                <h4>
                    {{ filter_group.name }}
                </h4>
               {% if filter_group.type == 1 and theme_config.price_slider %}
                    <div class="price-range-container filter-container">
                        <div class="price-range-slider slider"
                             data-slider
                             data-start="{{ min_price|round(0, 'floor') }}"
                             data-end="{{ max_price|round(0, 'ceil') }}"
                             data-initial-start="{{ min_price|round(0, 'floor') }}"
                             data-initial-end="{{ max_price|round(0, 'ceil') }}"
                        >
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputMin"></span>
                            <span class="slider-fill" data-slider-fill></span>
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputMax"></span>
                        </div>
                        <div class="slider-output">
                            <div class="row hide">
                                <div class="column small-6">
                                    <label>Min</label>
                                    <div class="input-group">
                                        <input type="text" class="input-group-field" id="sliderOutputMin" value="{{ min_price|round(0, 'floor')|default('0') }}">
                                    </div>
                                </div>
                                <div class="column small-6">
                                    <label>Max</label>
                                    <div class="input-group">
                                        <input type="text" class="input-group-field" id="sliderOutputMax" value="{{ max_price|round(0, 'ceil')|default('0') }}">
                                    </div>
                                </div>
                            </div>
                            <span class="slider-range-values">Range:
                                <strong class="range-min" data-currency="{{ global.currency.symbol|raw }}">{{ min_price|round(0, 'floor')|default('0') }}</strong> to
                                <strong class="range-max" data-currency="{{ global.currency.symbol|raw }}">{{ max_price|round(0, 'ceil')|default('0') }}</strong>
                            </span>
                        </div>
                        <input type="checkbox" class="price-range hide">
                    </div>
                {% else %}
                    {% for filter in filter_group.filters %}
                        <div class="filter-container" style="{{ filter.product_count > 0 ? '' : 'display: none;' }}">
                            {% if filter_group.type == 1 %}
                                <input id="filter-{{ filter.id ~ '-' ~ identifier }}" class="price-range {{ filter.active ? 'current' : '' }}" type="checkbox" value="{{ filter.id }}" data-value="{{ filter.id }}" {{ filter.active ? 'checked="checked"' : '' }}>
                                <label for="filter-{{ filter.id ~ '-' ~ identifier }}" class="field-label">
                                    {{ filter.name|raw }}
                                    <span class="filter-count show-for-sr">{{ filter.product_count }}</span>
                                </label>
                            {% else %}
                                <input id="{{ filter.id ~ '-' ~ identifier }}" class="filter {{ filter.active ? 'current' : '' }}" type="checkbox" value="{{ filter.id }}" data-value="{{ filter.id }}" {{ filter.active ? 'checked="checked"' : '' }}>
                                <label for="{{ filter.id ~ '-' ~ identifier }}" class="field-label">
                                    {{ filter.name }}
                                    <span class="filter-count show-for-sr">{{ filter.product_count }}</span>
                                </label>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>