{% extends 'templates/blocks.twig' %}

{% block content %}
    <noscript>
        <div class="callout primary">
            <p>
               JavaScript appears to be disabled in your browser. JavaScript must be enabled in order to utilise the full functionalilty of this website.
            </p>
        </div>
    </noscript>
    {% if gts.text_announce|length %}
        <div class="announcement-bar hide callout no-margin" data-closable>
            <div class="row column">
                <div class="inner">
                    <span>{{ theme.text_snippet('announce') }}</span>
                    <button class="close-button announcement-bar-close btn-close" aria-label="Dismiss alert" type="button" data-close>
                        <span>Close</span>
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <header>
        <div class="show-for-sr">
            <a href="#content">Skip to Main Content</a>
        </div>
        <div class="header-top row column">
            <div class="row collapse" data-equalizer="header_top" data-equalize-on="large">
                <div class="column large-4 large-push-4 header-top-outer text-center" data-equalizer-watch="header_top">
                    {# logo container #}
                    {{ block('header_logo') }}
                </div>
                <div class="column large-4 large-pull-4 header-top-outer" data-equalizer-watch="header_top">
                    <div class="header-top-inner">
                        {# burger menu button #}
                        <a class="header-menu-toggle" data-toggle="offCanvasMobile">
                            {{ theme.sw_icon('pause-sign', 'menu') }}
                        </a>
                        {# search toggle #}
                        <a class="header-search-toggle" data-toggle="header-search">
                            {{ theme.sw_icon('musica-searcher', 'search') }}
                        </a>
                        {# wishlist button #}
                        <a class="header-wishlist show-for-large" href="/wishlist">
                            {{ theme.sw_icon('heart', 'my wishlist') }}
                        </a>
                        {# account menu toggle #}
                        <a class="header-account-toggle show-for-large" data-toggle="account-dropdown">
                            {{ theme.sw_icon('person', 'open account menu') }}
                        </a>
                        {# currency toggle #}
                        {% if global.features.apps.currencies %}
                            <a class="header-currency-toggle show-for-large" data-toggle="offCanvasCurrency">
                                {{ global.currency.name }}
                            </a>
                        {% endif %}
                        {# mobile basket link #}
                        <div class="header-mobile-right hide-for-large float-right">
                            {# wishlist button #}
                            <a class="header-wishlist" href="/wishlist">
                                {{ theme.sw_icon('heart', 'my wishlist') }}
                            </a>
                            {# currency toggle #}
                            {% if global.features.apps.currencies %}
                                <a class="header-currency-toggle" data-toggle="offCanvasCurrency">
                                    {{ global.currency.name }}
                                </a>
                            {% endif %}
                            <a class="header-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                                {{ theme.sw_icon('shopping-basket', 'shopping basket') }}
                            </a>
                        </div>
                        {{ block('header_account_dropdown') }}
                    </div>
                </div>
                <div class="column large-4 show-for-large text-right header-top-outer" data-equalizer-watch="header_top">
                    <div class="header-top-inner">
                        {# header snippet #}
                        {% if gts.text_header %}
                            <span class="header-text">{{ theme.text_snippet('header') }}</span>
                        {% endif %}
                        {# basket link #}
                        <a class="header-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                            {{ theme.sw_icon('shopping-basket', 'shopping basket') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ block('header_navigation') }}
        {{ block('header_search') }}
    </header>
{% endblock %}


{% block header_account_dropdown %}
    <div class="account-dropdown dropdown-pane" id="account-dropdown" data-dropdown data-v-offset="15" data-close-on-click="true">
        <div class="account-dropdown-header">
            <a href="/contact-us">Need help? Contact us</a>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-toggle="account-dropdown">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ul class="account-dropdown-menu no-bullet no-margin">
            {% if global.customer.id %}
                <li>
                    <a href="/account">
                        {{ theme.sw_icon('account-home') }}
                        My Account
                    </a>
                </li>
                <li>
                    <a href="/account/orders">
                        {{ theme.sw_icon('box') }}
                        My Orders
                    </a>
                </li>
                <li>
                    <a href="/account/logout">
                        {{ theme.sw_icon('log-out') }}
                        Logout
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="/account/login">
                        {{ theme.sw_icon('account-home') }}
                        Sign In
                    </a>
                </li>
                <li>
                    <a href="/account/create">
                        {{ theme.sw_icon('user') }}
                        Register
                    </a>
                </li>
                {% if global.features.apps.trade_accounts %}
                    <li>
                        <a href="/account/trade-application">
                            <i class="icon-warehouse" aria-hidden="true"></i>
                            Trade Account Registration
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}


{% block header_currency %}

    {% macro region_flag(path) %}
        {% set country_code =  path|split('.net/')[1]|split('.')[0]|lower %}
        {# regex = \[A-Z]{2}(?=\.png)\ #}
        <span class="currency-flag">
            <span class="flag {{ country_code }}" aria-hidden="true"></span>
        </span>
    {% endmacro %}

    {% set global_currencies = [] %}

    {% for item in global.currencies %}
        {% set global_currencies = global_currencies|merge([item.id]) %}
    {% endfor %}

    <div class="header-currency">
        <a class="header-currency-select float-right" data-toggle="currency-dropdown">
            {% if global.currency_country.flag_url %}
                {# flag #}
                {{ _self.region_flag(global.currency_country.flag_url) }}
            {% endif %}
            {# name #}
            <span class="show-for-large">{{ global.currency_country.name }}</span>
            {# symbol #}
            {{ global.currency.symbol|raw }}
            {{ theme.sw_icon('down-arrow') }}
        </a>
        <div class="currency-dropdown dropdown-pane bottom right" id="currency-dropdown" data-dropdown data-v-offset="15" data-close-on-click="true">
            <h3 class="currency-dropdown-heading text-center">
                Delivery Country &amp; Currency
            </h3>
            <p class="currency-dropdown-selected text-center small">
                You're currenty viewing prices in <strong>{{ global.currency.name }} {{ global.currency.symbol|raw }}</strong>.<br>
                Select a new currency below.
            </p>
            <ul class="currency-dropdown-list no-bullet text-left">
                {% for country in global.currency_countries if country.current %}
                    <li>
                        <a href="{{ currency_url(country.currency_id, country.id) }}" class="active">
                            {% if country.flag_url %}
                                {{ _self.region_flag(country.flag_url) }}
                            {% endif %}
                            <span class="currency-region">{{ country.name }}</span>
                            <span class="currency-symbol">{{ country.currency_name }} {{ country.currency_symbol|raw }}</span>
                        </a>
                    </li>
                {% endfor %}
                {% for country in global.currency_countries if country.name != global.currency_country.name and country.currency_id in global_currencies %}
                    <li>
                        <a href="{{ currency_url(country.currency_id, country.id) }}">
                            {% if country.flag_url %}
                                {{ _self.region_flag(country.flag_url) }}
                            {% endif %}
                            <span class="currency-region">{{ country.name }}</span>
                            <span class="currency-symbol">{{ country.currency_name }} {{ country.currency_symbol|raw }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block header_search %}
    <div class="header-search hide" id="header-search" data-toggler=".hide">
        <div class="row">
            <div class="column large-7">
                <form class="search-container" action="/search/products" method="get">
                    <div class="input-group mod-custom mod-search no-margin">
                        <span class="input-group-label">
                            {{ theme.sw_icon('musica-searcher') }}
                        </span>
                        <input type="search" name="keywords" placeholder="Search by product name, code or category" class="header-search-input input-group-field">
                        <div class="input-group-button">
                            <button type="submit" class="button">Go</button>
                        </div>
                        <button type="button" class="close-search btn-close show-for-large" data-toggle="header-search">
                            <span>Close</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block header_logo %}
    <a href="/" class="header-logo header-top-inner">
        {% if global.business.logo_url %}
            <img src="{{ global.business.logo_url }}" alt="{{ global.business.name }}" class="logo-image">
        {% else %}
            <span class="logo-text">
                {{ global.business.name }}
            </span>
        {% endif %}
    </a>
{% endblock %}


{% block header_navigation %}
    <div class="header-nav-outer show-for-large">
        <nav class="row column">
            <div class="header-nav">
                <button type="button" class="mobile-menu-toggle hide-for-large" data-toggle="offCanvasMobile">
                    {{ theme.sw_icon('bars') }}
                    Menu
                </button>
                <div class="header-mobile-right hide-for-large">
                    <a class="header-mobile-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                        {{ theme.sw_icon('shopping-bag', 'Shopping Basket') }}
                        <span class="show-for-large">Shopping basket</span>
                        <span class="basket-count">{{ global.basket.items }}</span>
                    </a>
                    <button type="button" class="mobile-search-toggle" data-toggle="header-search">
                        {{ theme.sw_icon('glass', 'Search') }}
                    </button>
                    {% if global.features.apps.currencies %}
                        {% include 'partials/currency_dropdown.twig' with { 'size': 'small' } %}
                    {% endif %}
                </div>
                {# Render main navigation #}
                <div id="main-nav-wrapper" class="main-nav-wrapper{{ theme_config.nav_style == 1 ? ' click-drop' : '' }} show-for-large" data-toggler=".show-for-large">
                    <ul class="main-nav vertical large-horizontal menu align-center"
                        data-responsive-menu="accordion large-dropdown"
                        data-close-on-click-inside
                    >
                        {# Render home link #}
                        <li class="main-nav-home-link">
                            <a href="/"{% if global.current_path == '/' %} class="active"{% endif %}>
                                Home
                            </a>
                        </li>
                        {# Render category links #}
                        {% for category in global.categories|slice(0, category_limit|default(20)) %}
                            <li{% if theme_config.nav_style == 1 %} data-id="{{ category.id }}" class="{{ category.categories ? 'parent-with-sub' }}"{% endif %}>
                                <a href="{{ category.url }}" {% if category.url in global.current_url %}class="active" {% endif %}>
                                    {{ category.title }}
                                </a>
                                {% if category.categories and not theme_config.nav_style == 1 %}
                                    <ul class="menu vertical is-dropdown-submenu">
                                        {% for subcategory in category.categories %}
                                            <li>
                                                <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                    {{ subcategory.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if global.categories|length > category_limit|default(20) %}
                            <li>
                                <a href="/categories">
                                    View All
                                </a>
                            </li>
                        {% endif %}
                        {# category link list #}
                        {% set category_add_list = global.theme.settings.list_category_add %}
                        {% if category_add_list and category_add_list.links %}
                            {# Render custom links #}
                            {% for link in category_add_list.links %}
                                <li{% if loop.first %} id="list_category_add"{% endif %}>
                                    <a href="{{ link.url }}">
                                        {{ link.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {# Render brand links #}
                        {% if global.brands %}
                            <li{% if theme_config.nav_style == 1 %} data-id="brands" class="parent-with-sub"{% endif %}>
                                <a href="/brands" {% if global.current_path == '/brands' %}class="active" {% endif %}>
                                    Brands
                                </a>
                                {% if not theme_config.nav_style == 1 %}
                                    <ul class="vertical menu is-dropdown-submenu">
                                        {% for brand in global.brands|slice(0, brand_limit|default(20)) %}
                                            <li>
                                                <a href="{{ brand.url }}" {% if brand.url in global.current_path %}class="active" {% endif %}>
                                                    {{ brand.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if global.brands|length > brand_limit|default(20) %}
                                            <li>
                                                <a href="/brands">
                                                    View All
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {# Render blog link #}
                        {% if global.features.apps.blog %}
                            <li>
                                <a href="/blog"{% if global.current_path == '/blog' %} class="active"{% endif %}>
                                    Blog
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {#{{ block('sub_navigation') }}#}
{% endblock %}


{% block sub_navigation %}
    {% if theme_config.nav_style == 1 %}
        <div class="sub-nav-container show-for-large">
            <div class="row column">
                {% for category in global.categories|slice(0, category_limit|default(20)) if category.categories %}
                    <ul class="no-bullet" data-id="{{ category.id }}" id="sub-{{ category.id }}" style="display:none;">
                        {% for subcategory in category.categories %}
                            <li>
                                <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                    {{ subcategory.title }}
                                </a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ category.url }}?all=1">
                                View All
                            </a>
                        </li>
                    </ul>
                {% endfor %}
                {% if global.brands %}
                    <ul class="no-bullet" data-id="brands" style="display:none;">
                        {% for brand in global.brands|slice(0, brand_limit|default(20)) %}
                            <li>
                                <a href="{{ brand.url }}" {% if brand.url in global.current_path %}class="active" {% endif %}>
                                    {{ brand.title }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if global.brands|length > brand_limit|default(20) %}
                            <li>
                                <a href="/brands">
                                    View All
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
                <span class="selection-triangle hide" aria-hidden="true"></span>
            </div>
        </div>
    {% endif %}
{% endblock %}