{% set identifier = context|default('') %}

<section class="filters card">
    <h3 class="card-divider">
        Refine Products
    </h3>
    <div class="card-section">
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            {% for filter_group in filter_groups %}
                {% set filter_group_count = 0 %}
                {% for filter in filter_group.filters %}
                    {% set filter_group_count = filter_group_count + filter.product_count %}
                {% endfor %}
                <li class="accordion-item is-active{{ filter_group.type == 1 and theme_config.price_slider ? ' filter-box' : ' filter-group' }}{{ filter_group_count ? '' : ' hide' }}" data-accordion-item>
                    <a href="#" class="accordion-title">{{ filter_group.name }}</a>
                    <div class="accordion-content" data-tab-content>
                        {% if filter_group.type == 1 and theme_config.price_slider and (identifier == 'desktop' and not global.visitor.is_mobile or identifier == 'mobile' and global.visitor.is_mobile) %}
                            <div class="price-range-container">
                                <div class="price-range-slider slider"
                                     data-slider
                                     data-start="{{ min_price|round(0, 'floor') }}"
                                     data-end="{{ max_price|round(0, 'ceil') }}"
                                     data-initial-start="{{ min_price|round(0, 'floor') }}"
                                     data-initial-end="{{ max_price|round(0, 'ceil') }}"
                                >
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputMin"></span>
                                    <span class="slider-fill" data-slider-fill></span>
                                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutputMax"></span>
                                </div>
                                <div class="slider-output">
                                    <div class="row hide">
                                        <div class="column small-6">
                                            <label>Min</label>
                                            <div class="input-group">
                                                <input type="text" class="input-group-field" id="sliderOutputMin" value="{{ min_price|round(0, 'floor')|default('0') }}">
                                            </div>
                                        </div>
                                        <div class="column small-6">
                                            <label>Max</label>
                                            <div class="input-group">
                                                <input type="text" class="input-group-field" id="sliderOutputMax" value="{{ max_price|round(0, 'ceil')|default('0') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="slider-range-values">Range:
                                        <strong class="range-min" data-currency="{{ global.currency.symbol|raw }}">{{ min_price|round(0, 'floor')|default('0') }}</strong> to
                                        <strong class="range-max" data-currency="{{ global.currency.symbol|raw }}">{{ max_price|round(0, 'ceil')|default('0') }}</strong>
                                    </span>
                                </div>
                                <input type="checkbox" class="price-range hide">
                            </div>
                        {% else %}
                            {% for filter in filter_group.filters %}
                                <div class="filter-container" style="{{ filter.product_count > 0 ? '' : 'display: none;' }}">
                                    {% if filter_group.type == 1 %}
                                        <input id="filter-{{ filter.id ~ '-' ~ identifier }}" class="price-range {{ filter.active ? 'current' : '' }}" type="checkbox" value="{{ filter.id }}" data-value="{{ filter.id }}" {{ filter.active ? 'checked="checked"' : '' }}>
                                        <label for="filter-{{ filter.id ~ '-' ~ identifier }}" class="field-label">
                                            {{ filter.name|raw }}
                                            <span class="filter-count badge">{{ filter.product_count }}</span>
                                        </label>
                                    {% else %}
                                        <input id="{{ filter.id ~ '-' ~ identifier }}" class="filter {{ filter.active ? 'current' : '' }}" type="checkbox" value="{{ filter.id }}" data-value="{{ filter.id }}" {{ filter.active ? 'checked="checked"' : '' }}>
                                        <label for="{{ filter.id ~ '-' ~ identifier }}" class="field-label">
                                            {{ filter.name }}
                                            <span class="filter-count badge">{{ filter.product_count }}</span>
                                        </label>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <button class="button reset-all-button">Clear all filters</button>
    </div>
</section>