{% extends 'templates/account_pages.twig' %}

{% set title = 'My Referred Friends' %}

{% block page_content %}
    <h1 class="sw-account-heading">
        <i class="icon-referred-friends" aria-hidden="true"></i>
        <span>Referred Friends</span>
    </h1>
    <p>
        Friends you have referred are shown below.
    </p>
    <p>
        Refer your friends and earn rewards by sending them to
        <a class="sw-account-link" href="{{ global.customer.referral_scheme_url }}">{{ global.customer.referral_scheme_url }}</a>
    </p>
    <ul class="no-bullet">
        {% for referred_customer in global.customer.referred_customers %}
            <li>
                <div class="sw-account-panel list-item">
                    <div class="row">
                        <div class="column medium-6">
                            {{ referred_customer.first_name }} {{ referred_customer.last_name }}
                        </div>
                        <div class="column medium-6 medium-text-right">
                            <strong>+ {{ referred_customer.reward_points_generated }} points</strong>
                        </div>
                    </div>
                </div>
            </li>
        {% else %}
            <li>
                <div class="sw-account-panel list-item">
                    <div class="row column">
                        You have not referred any friends yet.
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
