{# Extend page template #}
{% extends 'templates/account_pages.twig' %}

{% set title = 'Edit Your Account' %}
{% set breadcrumb_title = 'Edit Account' %}

{% block breadcrumbs %}
    {# Add account link #}
    <li>
        <a href="/account">Account</a>
    </li>

{% endblock %}

{% block page_content %}
    <h1 class="sw-account-heading">
        <i class="icon-edit" aria-hidden="true"></i>
        <span>My details</span>
    </h1>
    <p>
        Edit your account details below
    </p>
    <form action="{{ global.current_url }}" method="post" class="form-with-validation">
        <div class="row">
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">First Name</label>
                    <input class="sw-account-input" type="text" name="firstname" value="{{ form_fields.first_name.value }}">
                </div>
            </div>
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">Last Name</label>
                    <input class="sw-account-input" type="text" name="lastname" value="{{ form_fields.last_name.value }}">
                </div>
            </div>
        </div>
        <div class="row">
            {% if (global.theme.settings.date_of_birth_field and not is_trade_account) or (global.theme.settings.trade_date_of_birth_field and is_trade_account) %}
                <div class="column medium-6">
                    <label class="sw-account-label">Date Of Birth</label>
                    <input class="sw-account-input" type="text" name="date_of_birth" value="{{ form_fields.date_of_birth.value }}" readonly>
                </div>
            {% endif %}
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">Email Address</label>
                    <input class="sw-account-input" type="text" name="email" value="{{ form_fields.email_address.value }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">Telephone Number</label>
                    <input class="sw-account-input" type="text" name="phone" value="{{ form_fields.phone.value }}">
                </div>
            </div>
            {% if global.theme.settings.trade_mobile_number_field and is_trade_account %}
                <div class="column medium-6">
                    <div class="sw-account-field">
                        <label class="sw-account-label">Mobile</label>
                        <input class="sw-account-input" type="text" name="mobile" value="{{ global.customer.mobile_number }}">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="sw-account-line-heading">
            <span>Account address</span>
        </div>
        <div class="sw-account-field">
            <label class="sw-account-label">1st Line Address</label>
            <input class="sw-account-input" type="text" name="address_line1" value="{{ form_fields.address_line1.value }}">
        </div>
        <div class="sw-account-field">
            <label class="sw-account-label">2nd Line Address</label>
            <input class="sw-account-input" type="text" name="address_line2" value="{{ form_fields.address_line2.value }}">
        </div>
        <div class="sw-account-field">
            <label class="sw-account-label">3rd Line Address</label>
            <input class="sw-account-input" type="text" name="address_line3" value="{{ form_fields.address_line3.value }}">
        </div>
        <div class="row">
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">Town/City</label>
                    <input class="sw-account-input" type="text" name="city" value="{{ form_fields.city.value }}">
                </div>
            </div>
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">County/State</label>
                    <input class="sw-account-input{{ form_fields.country.value != 223 ? '' : ' hide' }}" type="text"  name="province" value="{{ global.customer.province }}">
                    <select class="sw-account-input{{ form_fields.country.value == 223 ? '' : ' hide' }}" name="state_id" data-state="{{ global.customer.state_id }}">
                        <option value="">Please select...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">Postcode</label>
                    <input class="sw-account-input" type="text" name="zip" value="{{ form_fields.postcode.value }}">
                </div>
            </div>
            <div class="column medium-6">
                <div class="sw-account-field">
                    <label class="sw-account-label">Country</label>
                    <select class="sw-account-input" name="country_id" value="{{ form_fields.country.value }}">
                        <option value="">Please select...</option>
                        {% for key, value in form_fields.country.values %}
                            <option value="{{ key }}"{% if key == form_fields.country.value %} selected="selected"{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% if (global.theme.settings.company_name_field and not is_trade_account) or (global.theme.settings.trade_company_website_field and is_trade_account) %}
            <div class="sw-account-field">
                <label class="sw-account-label">Company</label>
                <input class="sw-account-input" type="text" name="company" value="{{ form_fields.company.value }}">
            </div>
        {% endif %}
        {% if global.theme.settings.trade_company_website_field and is_trade_account %}
            <div class="sw-account-field">
                <label class="sw-account-label">Website</label>
                <input class="sw-account-input" type="text" name="website" value="{{ global.customer.website }}">
            </div>
        {% endif %}
        {% if global.theme.settings.trade_vat_number_field and is_trade_account %}
            <div class="sw-account-field">
                <label class="sw-account-label">VAT Number</label>
                <input class="sw-account-input" type="text" name="vat_number" value="{{ global.customer.vat_number }}">
            </div>
        {% endif %}
        <button class="button sw-account-button" type="submit">Save these details</button>
    </form>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        // pull in states list
        $.ajax({
            url: '/checkout/states?country=223',
            success: success,
            dataType: 'JSON'
        });

        function success(data) {
            var state_field = $('[name="state_id"]'),
                county_field = $('[name="province"]'),
                country_select = $('[name="country_id"]');

            if(state_field.children().length < 2) {
                var states = ['<option value="">Please select...</option>'];
                // iterate states
                $.each(data.states, function( index, value ) {
                    var selected = value.id == state_field.data('state') ? ' selected="selected"' : ''
                    states.push('<option value="'+value.id+'"'+selected+'">'+value.name+'</option>');
                });
                // select option
                state_field.html(states.join(''));
            }

            // state/province visibility
            country_select.on('change', function() {
                if($(this).val() == 223) {
                    county_field.addClass('hide');
                    state_field.removeClass('hide');
                } else {
                    state_field.addClass('hide');
                    county_field.removeClass('hide');
                }
            });
        }
    </script>
    {% if global.theme.settings.date_of_birth_field %}
        {{ html.script('//cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.js') }}
        <script>
            // call picker
            $('[name="date_of_birth"]').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                maxDate: '0'
            }).autocomplete({
                disabled: true
            });
        </script>
    {% endif %}
{% endblock %}
