{# Extend page template #}
{% extends 'templates/page_wrap.twig' %}

{% set title = is_trade_account ? 'Apply for a trade account' : 'Create your account' %}
{% set bodyClass = 'account-page' %}
{% set contentClass = 'split-right' %}
{% set titleClass = 'account-header' %}
{% set breadcrumb_title = 'Create Account' %}
{% set hideTitle = 0 %}

{% block page_content %}
    <div class="row">
        <div class="large-8 column">
            {{ theme.errors(errors) }}

            <form class="form-with-validation account-create" action="{{ global.current_url }}" method="post">
                {% if (global.theme.settings.company_name_field and not is_trade_account) or is_trade_account %}
                    <label>
                        <span class="field-label">Company Name</span>
                        {{ html.input('company', form_field_value('firstname', global.customer.company), 'required') }}
                    </label>
                {% endif %}
                <div class="row">
                    <div class="column large-6">
                        {# first name #}
                        <label>
                            <span class="field-label">Your First Name</span>
                            {{ html.input('firstname', form_field_value('firstname', global.customer.first_name), 'required') }}
                        </label>
                    </div>
                    <div class="column large-6">
                        {# surname #}
                        <label>
                            <span class="field-label">Your Surname</span>
                            {{ html.input('lastname', form_field_value('lastname', global.customer.last_name), 'form-control required') }}
                        </label>
                    </div>
                </div>
                {% if (global.theme.settings.date_of_birth_field and not is_trade_account) or (global.theme.settings.trade_date_of_birth_field and is_trade_account) %}
                    <div class="row">
                        <div class="large-6 column">
                            <label>
                                <span class="field-label">Date Of Birth</span>
                                {{ html.input('date_of_birth', form_field_value('date_of_birth', global.customer.date_of_birth), 'form-control', '', '', 'readonly') }}
                            </label>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="column large-6">
                        {# email address #}
                        <label>
                            <span class="field-label">Your Email Address</span>
                            {{ html.input('email', form_field_value('email', global.customer.email), 'required jsv_email', '','email', 'autocomplete="off"') }}
                        </label>
                    </div>
                    <div class="column large-6">
                        {# telephone number #}
                        <label>
                            <span class="field-label">Your Telephone</span>
                            {{ html.input('phone', form_field_value('phone', global.customer.phone), 'jsv_digits') }}
                        </label>
                    </div>
                </div>
                {% if global.theme.settings.trade_mobile_number_field and is_trade_account %}
                    <div class="row">
                        <div class="column large-6">
                            <label>
                                <span class="field-label">Your Mobile</span>
                                {{ html.input('mobile', form_field_value('mobile', global.customer.mobile), 'jsv_digits') }}
                            </label>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="column large-6">
                        {# password #}
                        <label>
                            <span class="field-label">Your Password</span>
                            <input type="password" name="password" id="password1" value="" placeholder="" required>
                        </label>
                    </div>
                    <div class="column large-6">
                        {# password confirm #}
                        <label>
                            <span class="field-label">Confirm Your Password</span>
                            <input type="password" name="password_confirm" value="" placeholder="" required>
                        </label>
                    </div>
                </div>
                <fieldset>
                    <legend class="section-header">Your address</legend>
                    <div class="row">
                        <div class="column large-6">
                            {# 1st line address #}
                            <label>
                                <span class="field-label">1st Line Address</span>
                                {{ html.input('address_line1', form_field_value('address_line1', global.customer.address_line1), '') }}
                            </label>
                        </div>
                        <div class="column large-6">
                            {# 2nd line address #}
                            <label>
                                <span class="field-label">2nd Line Address</span>
                                {{ html.input('address_line2', form_field_value('address_line2', global.customer.address_line2), '') }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-6">
                            {# 3rd line address #}
                            <label>
                                <span class="field-label">3rd Line Address</span>
                                {{ html.input('address_line3', form_field_value('address_line3', global.customer.address_line3), '') }}
                            </label>
                        </div>
                        <div class="column large-6">
                            {# town #}
                            <label>
                                <span class="field-label">Town/City</span>
                                {{ html.input('city', form_field_value('city', global.customer.city), '') }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-6">
                            {# postcode #}
                            <label>
                                <span class="field-label">Postcode</span>
                                {{ html.input('zip', form_field_value('zip', global.customer.zip), '') }}
                            </label>
                        </div>
                        <div class="column large-6">
                            {# country #}
                            <label>
                                <span class="field-label">Country</span>
                                {{ html.select('country_id', countries, form_field_value('country_id', global.customer.country_id|default(222)), 'form-control medium custom-select', 'Select...') }}
                            </label>
                        </div>
                    </div>
                    {% if is_trade_account %}
                        <div class="row">
                            {% if global.theme.settings.trade_company_website_field %}
                                <div class="large-6 column">
                                    <label>
                                        <span class="field-label">Website</span>
                                        {{ html.input('website', form_field_value('website', global.customer.website), 'required') }}
                                    </label>
                                </div>
                            {% endif %}
                            {% if global.theme.settings.trade_vat_number_field %}
                                <div class="large-6 column">
                                    <label>
                                        <span class="field-label">VAT Number</span>
                                        {{ html.input('vat_number', form_field_value('vat_number', global.customer.vat_number), 'required') }}
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </fieldset>
                {% if customer_sources|length %}
                    <div class="row">
                        <div class="column large-6">
                            <label>
                                <span class="field-label">How You Heard About Us</span>
                                {{ html.select('source', customer_sources, form_field_value('source'), 'form-control medium custom-select', 'Select...') }}
                            </label>
                        </div>
                    </div>
                {% endif %}
                <div class="row column padding-bottom padding-top margin-bottom">
                    <input id="newsletter" type="checkbox" name="marketing">
                    <label for="newsletter" class="text-bold">Are you happy to recieve marketing communications from us?</label>
                </div>
                <input type="text" name="{{ global.honeypot_field_name }}" class="hide" autocomplete="off">
                {% if recaptcha %}
                    <div class="g-recaptcha margin-bottom"></div>
                {% endif %}
                {% set button_setting = is_trade_account ? 'button_create_trade_account' : 'button_create_account' %}
                {% set button_text = is_trade_account ? gts.button_create_trade_account : gts.button_create_account %}
                <button type="submit" class="button text-nocase" data-name="{{ button_setting }}">{{ button_text }}</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% if global.theme.settings.date_of_birth_field or global.theme.settings.trade_date_of_birth_field %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endif %}
{% endblock %}


{% block scripts %}
    {{ parent() }}
    {% if global.theme.settings.date_of_birth_field or global.theme.settings.trade_date_of_birth_field %}
        {{ html.script('//cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.js') }}
        <script>
            // call picker
            $('[name="date_of_birth"]').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:+0",
                maxDate: '0'
            }).autocomplete({
                disabled: true
            });
        </script>
    {% endif %}
{% endblock %}
