{# Extend page template #}
{% extends 'templates/account_pages.twig' %}

{% set title = 'Your Account' %}
{% set breadcrumb_title = 'Account Home' %}
{% set description = 'Welcome to your account.' %}

{% block page_content %}
    <h1 class="sw-account-heading">
        <i class="icon-account-home" aria-hidden="true"></i>
        <span>Account Home</span>
    </h1>
    <p>Welcome to your account.</p>
    <div class="row small-up-1 medium-up-1 large-up-2" data-equalizer>
        {# account edit #}
        <div class="column">
            <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                <p class="sw-account-heading">
                    <span>My details</span>
                    <i class="icon-edit float-right" aria-hidden="true"></i>
                </p>
                <p>
                    To edit your account details <a href="/account/edit" class="sw-account-link">click here</a>.
                </p>
            </div>
        </div>
        {# account password #}
        <div class="column">
            <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                <p class="sw-account-heading">
                    <span>My password</span>
                    <i class="icon-my-password float-right" aria-hidden="true"></i>
                </p>
                <p>
                    To change your account password <a href="/account/password" class="sw-account-link">click here</a>.
                </p>
            </div>
        </div>
        {% if global.features.extensions.address_book %}
            {# address book #}
            <div class="column">
                <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                    <p class="sw-account-heading">
                        <span>My address book</span>
                        <i class="icon-address-book float-right" aria-hidden="true"></i>
                    </p>
                    <p>
                        To edit your account details <a href="/account/addresses" class="sw-account-link">click here</a>.
                    </p>
                </div>
            </div>
        {% endif %}
        {# orders #}
        <div class="column">
            <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                <p class="sw-account-heading">
                    <span>{{ global.customer.orders|length }} Order{{ global.customer.orders|length == 1 ? '' : 's' }}</span>
                    <i class="icon-my-orders float-right" aria-hidden="true"></i>
                </p>
                <p>
                    <a href="/account/orders" class="sw-account-link">Click here</a> to view your orders.
                </p>
            </div>
        </div>
        {% if global.features.extensions.stripe_subscriptions %}
            {# subscriptions #}
            <div class="column">
                <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                    <p class="sw-account-heading">
                        <span>Subscriptions</span>
                        <i class="icon-my-subscriptions float-right" aria-hidden="true"></i>
                    </p>
                    <p>
                        <a href="/account/subscriptions" class="sw-account-link">Click here</a> to view your subscriptions.
                    </p>
                </div>
            </div>
        {% endif %}
        {% if global.features.apps.reward_points %}
            {# reward points #}
            <div class="column">
                <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                    <p class="sw-account-heading">
                        <span>{{ global.customer.reward_points }} Reward point{{ global.customer.reward_points == 1 ? '' : 's' }}</span>
                        <i class="icon-reward-points float-right" aria-hidden="true"></i>
                    </p>
                    <p>
                        <a href="/account/reward-points" class="sw-account-link">Click here</a> to view a statement of your reward points.
                    </p>
                </div>
            </div>
        {% endif %}
        {% if global.theme.settings.ref_friends_accounts_pages %}
            {# referred friends #}
            <div class="column">
                <div class="sw-account-panel sw-account-container-box" data-equalizer-watch>
                    <p class="sw-account-heading">
                        <span>{{ global.customer.referred_customers|length }} Referred friend{{ global.customer.referred_customers|length == 1 ? '' : 's' }}</span>
                        <i class="icon-referred-friends float-right" aria-hidden="true"></i>
                    </p>
                    <p>
                        <a href="/account/referred-friends" class="sw-account-link">Click here</a> to view friends you’ve referred.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
