{# Extend page template #}
{% extends 'templates/account_pages.twig' %}

{% set title = 'Order Reference #' ~ order.reference %}

{% set voucher_count = 0 %}

{% for product in order.products if product.is_gift_voucher %}
    {% set voucher_count = voucher_count + 1 %}
{% endfor %}

{% block breadcrumbs %}
	{# Add account link #}
	<li>
		<a href="/account">Account</a>
	</li>
{% endblock %}

{% block page_content %}
    <h2 class="sw-account-heading">
        <i class="icon-my-orders" aria-hidden="true"></i>
        <span>Order #{{ order.reference }}</span>
    </h2>
    <div class="sw-account-panel">
        <p>
            Thanks for your order. You can review the details below.
            {% if order.tracking_url|length %}
                You can track this order at <a class="sw-account-link" href="{{ order.tracking_url }}" target="_blank">{{ order.tracking_url }}</a>
            {% endif %}
        </p>
    </div>
    <div class="sw-account-panel">
        <div class="row sw-margin-b-xs">
            <div class="column medium-6 large-5">
                Order reference
            </div>
            <div class="column medium-6 large-7">
                #{{ order.reference }}
            </div>
        </div>
        <div class="row sw-margin-b-xs">
            <div class="column medium-6 large-5">
                Order date
            </div>
            <div class="column medium-6 large-7">
                <time datetime="{{ order.date|date('Y-m-d') }}">{{ order.date|date('jS F Y') }}</time>
            </div>
        </div>
        <div class="row">
            <div class="column medium-6 large-5">
                Invoice/receipt
            </div>
            <div class="column medium-6 large-7">
                <a href="{{ order.url }}?pdf" target="_blank" class="sw-account-icon-link">
                    <span>Download</span>
                    <i class="icon-PDF" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="sw-account-container-box">
        <div class="sw-account-container-box-header">
            <div class="row">
                <div class="column small-{{ voucher_count ? 12 : 6 }}">
                    <strong class="sw-upper">{{ order.products|length }} Item{{ order.products|length == 1 ? '' : 's' }}</strong>
                </div>
                {% if not voucher_count %}
                    <div class="column small-6 text-right">
                        <form action="{{ order.url }}" method="post">
                            <input type="hidden" name="add_to_basket" value="1">
                            <button type="submit" class="sw-account-icon-link">
                                <i class="icon-re-order" aria-hidden="true"></i>
                                <span>re-order</span>
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        <ul class="sw-account-container-box-list no-bullet">

            {% for product in order.products %}
                <li class="sw-account-container-box-item">
                    <div class="row" data-equalizer>
                        <div class="small-2 column" data-equalizer-watch>
                            <div class="image-container" data-fit="0">
                                <img src="{{ product.photo_url }}" alt="{{ product.photo_description }}">
                            </div>
                        </div>
                        <div class="small-10 column" data-equalizer-watch>
                            <div class="row">
                                <div class="large-5 column">
                                    <strong class="sw-account-container-box-item-title">{{ product.name|raw }}</strong>
                                    <div class="sw-margin-b-xs">{{ format_price(product.original_price_including_vat) }}</div>
                                    {% if not product.is_gift_voucher %}
                                        <a href="{{ product.url }}" class="sw-account-button small" target="_blank">
                                            View product
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="large-4 column">
                                    <dl class="sw-account-def-list">
                                        {% for option in product.options %}
                                            <dt>{{ option.name }}</dt>
                                            <dd>{{ option.value }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                                <div class="large-3 column sw-upper">
                                    <span>Quantity: </span>
                                    <span>{{ product.quantity }}</span>
                                    <br>
                                    <span class="price">{{ format_price(product.original_price_including_vat * product.quantity) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sw-account-panel">
        <div class="row">
            <div class="column medium-6">
                <strong class="sw-account-subheading">Billing address</strong>

                {{ order.billing_name }} <br>
                {{ order.billing_address|nl2br }} <br>
                {{ order.billing_phone }} <br>
                {{ order.billing_email }} <br>
            </div>
            <div class="column medium-6">
                <strong class="sw-account-subheading">Delivery address</strong>

                {{ order.shipping_name }} <br>
                {{ order.shipping_address|nl2br }} <br>
                {{ order.shipping_phone }} <br>
                {{ order.shipping_email }} <br>
            </div>
        </div>
    </div>
    <div class="sw-account-panel">
        <strong class="sw-account-subheading">Order total</strong>
        <div class="row sw-margin-b-xs">
            <div class="column medium-6 large-5">
                Product Total
            </div>
            <div class="column medium-6 large-7">
                <strong>{{ format_price( order.original_sub_total_including_vat ) }}</strong>
            </div>
        </div>
        <div class="row sw-margin-b-xs">
            <div class="column medium-6 large-5">
                Shipping Total
            </div>
            <div class="column medium-6 large-7">
                <strong>{{ format_price( order.original_shipping_total_including_vat ) }}</strong>
            </div>
        </div>
        <div class="row sw-margin-b-xs">
            <div class="column medium-6 large-5">
                Discount Total
            </div>
            <div class="column medium-6 large-7">
                <strong>-{{ format_price( order.discount_total ) }}</strong>
            </div>
        </div>
        {% if order.vat %}
            <div class="row sw-margin-b-xs">
                <div class="column medium-6 large-5">
                    Including VAT
                </div>
                <div class="column medium-6 large-7">
                    <strong>{{ format_price( order.vat ) }}</strong>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="column medium-6 large-5">
                Grand Total
            </div>
            <div class="column medium-6 large-7">
                <div class="row collapse">
                    <div class="column medium-4">
                        <strong>{{ format_price( order.total ) }}</strong>
                    </div>
                    <div class="column medium-8">
                        {% for partial_payment in order.partial_payments %}
                            A partial payment of <strong>{{ format_price( partial_payment.amount ) }}</strong> was applied
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if order.reward_points.earned %}
        <p>
            <i class="icon-reward-points" aria-hidden="true"></i>
            You earned <strong>{{ order.reward_points.earned }} reward point{{ order.reward_points.earned|length == 1 ? '' : 's' }}</strong> on this order.
        </p>
    {% endif %}
    {% if order.reward_points.converted %}
        <p>
            <i class="icon-reward-points" aria-hidden="true"></i>
            You converted <strong>{{ order.reward_points.converted }} reward point{{ order.reward_points.converted|length == 1 ? '' : 's' }}</strong> on this order.
        </p>
    {% endif %}
{% endblock %}
