{% extends 'templates/account_pages.twig' %}

{% set title = 'My Orders' %}

{% block page_content %}
    <h1 class="sw-account-heading">
        <i class="icon-my-orders" aria-hidden="true"></i>
        <span>My Orders</span>
    </h1>
    <div class="sw-account-panel">
        <p>Displaying <strong>{{ global.customer.orders|length }} order{{ global.customer.orders|length == 1 ? '' : 's' }}</strong></p>
    </div>
    {% for order in global.customer.orders %}
        <div class="sw-account-container-box">
            <div class="sw-account-container-box-header">
                <div class="row collapse">
                    <div class="column medium-3">
                        <div>Order placed</div>
                        <strong>{{ order.date|date('jS F Y') }}</strong>
                    </div>
                    <div class="column medium-3">
                        <div class="text-upper">Total</div>
                        <strong>{{ format_price(order.total) }}</strong>
                    </div>
                    <div class="column medium-3">
                        <div class="text-upper">Order</div>
                        <strong>#{{ order.reference }}</strong>
                    </div>
                    <div class="column medium-2">
                        <div class="text-upper">Status</div>
                        <strong>{{ order.status }}</strong>
                    </div>
                    <div class="column medium-1 medium-text-right">
                        <a href="{{ order.url }}?pdf" class="sw-account-button-pdf" target="_blank">
                            <i class="icon-PDF" aria-hidden="true"></i>
                            <span class="show-for-sr">Download PDF</span>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="sw-account-container-box-list no-bullet">
                {% set voucher_count = 0 %}
                {% for product in order.products %}
                    <li class="sw-account-container-box-item">
                        <div class="row" data-equalizer>
                            <div class="small-2 column" data-equalizer-watch>
                                <div class="image-container" data-fit="0">
                                    <img src="{{ product.photo_url }}" alt="{{ product.photo_description }}">
                                </div>
                            </div>
                            <div class="small-10 column" data-equalizer-watch>
                                <div class="row">
                                    <div class="large-5 column">
                                        <strong class="sw-account-container-box-item-title">{{ product.name|raw }}</strong>
                                        <div class="sw-margin-b-xs">{{ format_price(product.original_price_including_vat) }}</div>
                                        {% if not product.is_gift_voucher %}
                                            <a href="{{ product.url }}" class="sw-account-button small" target="_blank">
                                                View product
                                            </a>
                                        {% else %}
                                            {% set voucher_count = voucher_count + 1 %}
                                        {% endif %}
                                    </div>
                                    <div class="large-4 column">
                                        <dl class="sw-account-def-list">
                                            {% for option in product.options %}
                                                <dt>{{ option.name }}</dt>
                                                <dd>{{ option.value }}</dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                    <div class="large-3 column sw-upper">
                                        <span>Quantity: </span>
                                        <span>{{ product.quantity }}</span>
                                        <br>
                                        <span class="price">{{ format_price(product.original_price_including_vat * product.quantity) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="sw-account-container-box-footer">
                <div class="row">
                    {% if not voucher_count %}
                        <div class="column small-6">
                            <form action="{{ order.url }}" method="post">
                                <input type="hidden" name="add_to_basket" value="1">
                                <button type="submit" class="sw-account-icon-link">
                                    <i class="icon-re-order" aria-hidden="true"></i>
                                    <span>re-order</span>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="column small-{{ voucher_count ? 12 : 6 }} text-right">
                       <a class="sw-account-icon-link" href="{{ order.url }}">
                           <span>View details</span>
                       </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if total_pages > 1 %}
        <div class="text-center">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if current_page > 1 %}
                    <li class="pagination-previous">
                        <a href="/account?page={{ current_page - 1 }}">
                            Previous
                        </a>
                    </li>
                {% else %}
                    <li class="pagination-previous disabled">
                        Previous
                    </li>
                {% endif %}
                {% for page in 1..total_pages %}
                    {% if page == current_page %}
                        <li class="current">
                            {{ page }}
                        </li>
                    {% else %}
                        <li>
                            <a href="/account?page={{ page }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if current_page < total_pages %}
                    <li class="pagination-next">
                        <a href="/account?page={{ current_page + 1 }}">
                            Next
                        </a>
                    </li>
                {% else %}
                    <li class="pagination-next disabled">
                        Next
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}